*{
    margin: 0;
    padding: 0;
}
/*******Header********/
.social-media-header{
    background: #ff2a6b;
    padding: 18px 30px;
}
.social-media-header a{
    justify-content: space-between;
    color: aliceblue;
    padding: 10px;
    margin: 6px;
}
.search{
    display: inline;
    padding: 18px 200px;
}

.form-controlll {
    border-color: #ccc;
    border-radius: 30px;
    width: 400px;
    height: 30px;
    padding: 15px 30px;
}

.form-control:hover {
    border-color: #ff2a6b;
}

.search [class^="fa-"] {
    position: absolute;
    top: 26px;
    left: 440px;
    color: #ccc;
    font-size: 16px;
    cursor: pointer;
}
.search [class^="fa-"]:hover {
  color: hotpink;
}
/*******Header********/
/*******Posts********/
.div-create-btn{
    display: inline;
    margin: 30px 90px;

}
.create-btn{
    position: absolute;
    top: 100px;
    left: 1080px;
    height: 50px;
    color: #ffffff;
    background: #ff2a6b;
    border: 0px;
    width: 70px;
}

.create-img-btn{
    position: absolute;
    top: 100px;
    left: 1170px;
    height: 50px;
    color: #ffffff;
    background: #ffaf00;
    border: 3px;
    width: 70px;
    border-radius: 70px;
}
.create-post{
    margin: 30px;
    width: 1000px;
    display: inline;
}
.all-posts{
    margin: 20px;
}



.post-imgs img{
    width: 100%;

}

.post-title a{
    color: #ff2a6b;
    text-decoration: none;
}
.post-title a:hover{
    color: #ffb724;
}